@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
margin: 0; 
padding: 0; 
border: 0; 
outline: 0; 
font-weight:normal; 
font-style: inherit; 
font-size: 100%; 
font-family: inherit; 
vertical-align: baseline; 
} 
:focus { 
outline: 0; 
} 
table { 
border-collapse: collapse; 
border-spacing: 0; 
} 
caption, th, td { 
text-align: left; 
font-weight: normal; 
} 
a img, iframe { 
border: none; 
}
ul,ol{ 
list-style: none; 
}
input, textarea, select, button { 
font-size: 100%; 
font-family: inherit; 
} 
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.r{
	font-size:12px;
}
a{
	text-decoration:none;
}
.w{
	width:962px;
	margin:0 auto;
}
li{
	list-style:none;
}
#h .r1{
	line-height:32px;
	background:url(images514/h-r1.png) repeat-x;
}
#h .r1 a{
	padding:0 10px;
	color:#666;
}
#h .r2{
	margin:4px 0;
}
#h .r3{
	height:115px;
}
#h .r3 .c1{
	width:226px;
	text-align:center;
}
#h .r3 .c1 img{
	margin-top:15px;}
#h .r3 .c2{
	background:url(images514/hr3c2.gif) no-repeat 1px;
	width:260px;
	height:110px;
	text-align:center;
}
#h .r3 .c2 .d{
	font-size:30px;
	font-weight:bold;
}
#h .r3 .c2 ul{
	margin-top:30px;
}
#h .r3 input{
	width:377px;
	height:23px;
}
#h .r3 .c3 {
	margin-top:15px;
}
#h .r3 .c3 li{
	padding:3px 0;
}
#h .r3 .c3 a{
	padding:0 10px;
	color:#666;
}
#search{
	background:url(images514/hr3c3.gif) no-repeat;
	border:none;
	width:68px;
	line-height:25px;
	color:#FFF;
	font-size:13px;
	font-weight:bold;
}
#h .r4{
	background:url(images514/hr4.gif) repeat-x;
    line-height:50px;
}
#h .r4 li{
	float:left;
	width:87px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
}
#h .r4 li.first{
	background:url(images514/first.gif) no-repeat;
}
#h .r4 li a{
	color:#FFF;
	font-weight:bold;
}
#h .r4 li a:hover{
	color:#F00;
}
#h .r5{
	background:url(images514/hr5.gif) no-repeat center;
	height:47px;
	margin-bottom:10px;
}
#h .r5 .c1{
	margin-top:10px;
    margin-left:20px;
}
#h .r5 input{
	width:115px;
	height:20px;
}
#enter{
	background:url(images514/hr5c1.gif) no-repeat;
	border:none;
	height:25px;
	width:55px;
	color:#FFF;
}
#h .r5 .c2{
	margin-top:10px;
	margin-left:20xp;
}
#h .r5 .c2 a{
	padding:0 10px;
}
#h .r5 .c2 img{
	position: absolute;
}
#h .r5 .c3{
	margin:5px 20px 0 0;
}
.w{
	width:962px;
	margin:0 auto;
}
.r{
	margin-bottom:10px;
}
.m1{
	background:url(images514/m1bg.gif) no-repeat;
	border:1px solid #F90;
	width:700px;
}
.m1 h2{
	width:295px;
	float:left;
}
.m1 .fr{
	width:350px;
	margin:0 15px;
}
.m1 .fr h3{
	margin:13px 0;
	text-align:center;
}
.m1 .fr h3 a{
	font-size:22px;
	font-weight:bold;
	color:#F30;
}
.m1 .fr p{
	line-height:21px;
}
.m1 .fr p.a1{
	text-indent:2em;
}
.m1 .fr .a2{
	padding-left:15px;
}
.m2{
	background:url(images514/m2-1.gif) no-repeat;
	border:1px solid #CCC;
	width:249px;
}
.m2 .h h2{
	margin:15px 0 10px 10px;
}
.m2 .h h3{
	float:right;
	margin:-25px 10px 0 0;
}	
.m2 .b1 img{
	width:223px;
	margin:0 10px;
}
.m2 .b h3{
	margin:10px 0;
	text-align:center;
}
.m2 .b h3 a{
	color:#000;
	font-weight:bold;
}
.m2 .b p{
	text-indent:2em;
	color:#999;
}
.m2 ul{
	padding-left:20px;
	margin-bottom:13px;
}
.m2 .b li{
	width:190px;
	line-height:26px;
	border-bottom: 1px gray dashed;
}
.m2 .b li.a1{
	background:url(images514/m2a1.gif) no-repeat 2px;
	padding-left:15px;
}
.m2 .b li a{
	color:#000;
}
.m3{
	background:url(images514/m3.gif) no-repeat;
	border:1px solid #F90;
	width:700px;
}
.m3 .h{
	height:65px;
	display:inline-block;
}
.m3 .h h3{
	float:right;
	margin:-30px 15px 0 0;
}
.m3 ul{
	margin-bottom:20px;
	width:;
}
.m3 .fl{
	width:320px;
	padding-left:60px;
}
.m3 li{
	line-height:26px;
	list-style:outside;
	border-bottom: 1px gray dashed;
	
}
.m3 .rt{
	color:#999;
}
.m3 a{
	color:#333;
}
.m3 a.rt{
	padding-left:30px;
}
.m4{
	background:url(images514/m2-1.gif) no-repeat;
	width:249px;
	border:1px solid #CCC;
}
.m4 .h h2{
	padding:15px 0 10px 10px;
}
.m4 .h h3{
	float:right;
	margin:-25px 10px 0 0;
}
.m4 .b ul{
	padding-left:20px;
	margin-bottom:16px;
}
.m4 .b li{
	width:190px;
	line-height:26px;
	border-bottom: 1px gray dashed;
}
.m4 .b li.a1{
	background:url(images514/bd-r2-c1-b-1.gif) no-repeat 1px;
	padding-left:20px;
}
.m4 .b li.a2{
	background:url(images514/bd-r2-c1-b-2.gif) no-repeat 1px;
	padding-left:20px;
}

.m4 .b li.a3{
	background:url(images514/bd-r2-c1-b-3.gif) no-repeat 1px;
	padding-left:20px;
}
.m4 .b li.a4{
	background:url(images514/bd-r2-c1-b-4.gif) no-repeat 1px;
	padding-left:20px;
}
.m4 .b li.a5{
	background:url(images514/bd-r2-c1-b-5.gif) no-repeat 1px;
	padding-left:20px;
}
.m4 .b li.a6{
	background:url(images514/bd-r2-c1-b-6.gif) no-repeat 1px;
	padding-left:20px;
}
.m4 .b li.a7{
	background:url(images514/bd-r2-c1-b-7.gif) no-repeat 1px;
	padding-left:20px;
}
.m4 .b li.a8{
	background:url(images514/bd-r2-c1-b-8.gif) no-repeat 1px;
	padding-left:20px;
}
.m4 .b li.a9{
	background:url(images514/bd-r2-c1-b-9.gif) no-repeat 1px;
	padding-left:20px;
}
.m4 .b li.a10{
	background:url(images514/bd-r2-c1-b-10.gif) no-repeat 1px;
	padding-left:20px;
}
.m4 .b a{
	color:#000;
}
.m5{
	width:700px;
	background:url(images514/m5.gif) no-repeat;
	border:1px solid #f90;
}
.m5 .h{
	height:70px;
}
.m5 .h h3{
	float:right;
	margin:-35px 15px 0 0;
	display:inline-block;
}
.m5 a{
	color:#000;
	font-weight:bold;
}
.m5 .b{
	padding-bottom:15px;
}
.m5 .b1{
	float:left;
	width:336px;
}
.m5 .b1 img{
	float:left;
	border:1px solid #CCC;
	margin:5px 5px 20px 10px;
}
.m5 .b1 h3{
	font-weight:bold;
	padding-top:5px;
}
.m5 .b1 p{
	line-height:20px;
}
.m5 .b2{
	float:left;
	width:310px;
	margin:5px 0 20px 25px;
}
.m5 .b2 img{
	float:left;
	border:1px solid #CCC;
	margin:0 5px 0 0;
}
.m5 .b2 h3{
	font-weight:bold;
}
.m5 .b2 p{
	line-height:20px;
}

.m5 .b3{
	float:left;
	width:336px;
}
.m5 .b3 img{
	margin-top:5px;
	border:1px solid #CCC;
}
.m5 .b3 h3{
	margin-top:5px;
	font-weight:bold;
}
.m5 .b3 img{
	margin:5px 5px 0 10px;
	float:left;
	border:1px solid #CCC;
}
.m5 .b3 p{
	line-height:20px;
}

.m5 .b4{
	float:left;
	width:330px;
}
.m5 .b4 img{
	float:left;
	border:1px solid #CCC;
	margin:5px 5px 0 25px;
}
.m5 .b4 h3{
	margin-top:5px;
	font-weight:bold;
}
.m5 .b4 p{
	line-height:20px;
}
.m6{
	background:url(images514/m6h.gif) no-repeat;
	width:249px;
	border:1px solid #CCC;
}
.m6 .h h2{
	padding:5px 0 10px 30px;
}
.m6 .b h2{
	width:93px;
	float:left;
	padding-top:10px;
	padding-left:10px;	
}
.m6 .b img{
	width:92px;
	height:72px;
}
.m6 .b p{
	text-indent:2em;
	line-height:18px;
	padding-bottom:10px;
	
}
.m6 .b p.a1{
	border-bottom: 1px gray dashed;
}
.m6 .b h3{
	padding:10px 0;
}
.m6 .b h3 a{
	font-weight:bold;
	color:#000;
}
#bd .r4{
	width:959px;
	border:1px solid #F90;
	background:url(images514/m7-1.gif) no-repeat;
}
.m7{
	width:700px;
}
.m7 .h h3{
	float:right;
	margin:-30px 15px 0 0;
}
.m7 .b{
	margin-left:15px;
	margin-top:10px;
}
.m7 .b .b1{
	width:330px;
}
.m7 .b .b1 img{
	float:left;
}
.m7 .b .b1 h2{
	text-align:center;
	padding-bottom:5px;
}
.m7 .b .b1 h2 a{
	color:#000;
	font-weight:bold;
}
.m7 .b .b1 p{
	text-indent:2em;
	line-height:19px;
	padding-bottom:10px;
	border-bottom: 1px gray dashed;
}
.m7 .b .b1 ul{
	padding-bottom:15px;
}
.m7 .b .b1 li{
	line-height:25px;
	border-bottom: 1px gray dashed;
}
.m7 .b .b1 li a{
	color:#333;
}
.m7 .b .b1 li a.a1{
	padding-left:90px;
	color:#666;
}
.m7 .b .b2{
	width:330px;
}
.m7 .b .b2 img{
	float:left;
}
.m7 .b .b2 h2{
	text-align:center;
	padding-bottom:5px;
}
.m7 .b .b2 h2 a{
	color:#000;
	font-weight:bold;
}
.m7 .b .b2 p{
	text-indent:2em;
	line-height:19px;
	padding-bottom:10px;
	border-bottom: 1px gray dashed;
}
.m7 .b .b2 ul{
	padding-bottom:15px;
}
.m7 .b .b2 li{
	line-height:25px;
	border-bottom: 1px gray dashed;
}
.m7 .b .b2 li a{
	color:#333;
}
.m7 .b .b2 li a.a1{
	padding-left:90px;
	color:#666;
}

.m8{
	width:249px;
	background:url(images514/m8.gif) no-repeat;
}
.m8 .h img{
	padding:20px 0 5px 30px;
}
.m8 .h p{
	background:url(images514/m7c3a2.gif) no-repeat;
	padding-left:20px;
	margin-left:60px;
}
.m8 .b{
	background:url(images514/m7c3b.gif) no-repeat;
	margin-top:-20px;
}
.m8 .b img{
	margin:40px 0 0 11px;
}
.m8 .b h2{
	margin:5px 0;
	text-align:center;
}
.m8 .b h2 a{
	font-weight:bold;
	color:#000;
}
.m8 .b p{
	line-height:18px;
	text-indent:2em;
	margin:0 15px 0 10px;
	padding-bottom:20px;
}
.m9{
	background:url(images514/m9.gif) no-repeat;
	width:959px;
	border:1px solid #F90;
}
.m9 .h h3{
	float:right;
	margin:-15px 15px 0 0;
}
.m9 .b{
    margin:15px 15px 0 15px;
}
.m9 .b .b1{
	display:inline-block;
	margin-bottom:10px;
}
.m9 .b .b1 h3{
	margin-bottom:10px;
}
.m9 .b .b1 a.a1{
	margin-left:20px;
}
.m9 .b2{
	margin-bottom:11px;
}
.m9 .b2 ul{
	width:440px;
	margin-top:10px;
}
.m9 .b2 li a{
	color:#000;
}
.m9 .b2 li a.a1{
	margin-left:195px;
	color:#999;
}
.m9 .b2 li{
	list-style:inside;
	line-height:26px;
	border-bottom: 1px gray dashed;
}
.m9 .b3{
	margin-bottom:10px;
}
.m9 .b3 ul{
	width:440px;
	margin-top:10px;
}
.m9 .b3 li a{
	color:#000;
}
.m9 .b3 li a.a1{
	margin-left:195px;
	color:#999;
}
.m9 .b3 li{
	list-style:inside;
	line-height:26px;
	border-bottom: 1px gray dashed;
}
.m9 .b4{
	margin-bottom:10px;
}
.m9 .b4 ul{
	width:440px;
	margin-top:10px;
}
.m9 .b4 li a{
	color:#000;
}
.m9 .b4 li a.a1{
	margin-left:195px;
	color:#999;
}
.m9 .b4 li{
	list-style:inside;
	line-height:26px;
	border-bottom: 1px gray dashed;
}
.m9 .b5{
	margin-bottom:10px;
}
.m9 .b5 ul{
	width:440px;
	margin-top:10px;
}
.m9 .b5 li a{
	color:#000;
}
.m9 .b5 li a.a1{
	margin-left:195px;
	color:#999;
}
.m9 .b5 li{
	list-style:inside;
	line-height:26px;
	border-bottom: 1px gray dashed;
}
.m9 .b6{
	margin-bottom:10px;
}
.m9 .b6 ul{
	width:440px;
	margin-top:10px;
}
.m9 .b6 li a{
	color:#000;
}
.m9 .b6 li a.a1{
	margin-left:195px;
	color:#999;
}
.m9 .b6 li{
	list-style:inside;
	line-height:26px;
	border-bottom: 1px gray dashed;
}
.m10{
	background:url(images514/m10.gif) no-repeat;
	width:959px;
	border:1px solid #F90;
}
.m10 .h{
	height:70px;
}
.m10 .h h3{
	float:right;
	margin:-30px 15px 0 0;
}
.m10 .b{
	margin-left:15px;
	margin-bottom:10px;
}
.m10 .c1{
	width:288px;
}
.m10 .c1 h3{
	padding:2px;
	margin:2px;
	border:1px solid #CCC;
}
.m10 .c2{
	width:400px;
	margin:0 15px;
}
.m10 .c2 h3{
	font-size:18px;
	text-align:center;
	margin-bottom:5px;
}
.m10 .c2 h3 a{
	font-weight:bold;
	color:#F60;
}
.m10 .c2 p{
	text-indent:2em;
	line-height:20px;
	color:#666;
	padding-bottom:10px;
	border-bottom: 1px gray dashed;
}
.m10 .c2 li{
	list-style:inside;
	line-height:24px;
	border-bottom: 1px gray dashed;
}
.m10 .c2 li a.a1{
	padding-left:150px;
	color:#999;
}
.m10 .c3{
	display:inline;
	margin-right:15px;
}
.m10 .c3 p.p1{
	margin-top:15px;
}
.m11{
	background:url(images514/m11h.gif) no-repeat;
	border:1px solid #F90;
	width:474px;	
}
.m11 h3{
	display:inline;
	float:right;
	margin:-25px 15px 0 0;
}
.m11 .b{
	margin-bottom:15px;
	margin-left:15px;
	margin-top:15px;
}
.m11 .b img{
	border:1px solid #CCC;
}
.m11 .b p.p1{
	margin-top:10px;
}
.m11 .b .br{
	display:inline;
	margin-left:20px;
}
.m11 .b ul{
	width:240px;
}
.m11 .b li{
	list-style:inside;
	line-height:29px;
	border-bottom: 1px gray dashed;
}
.m11 .b a{
	color:#333;
}
.m12{
	background:url(images514/m11h.gif) no-repeat;
	border:1px solid #F90;
	width:474px;	
}
.m12 h3{
	display:inline;
	float:right;
	margin:-25px 15px 0 0;
}
.m12 .b{
	margin-bottom:15px;
	margin-left:15px;
	margin-top:15px;
}
.m12 .b img{
	border:1px solid #CCC;
}
.m12 .b p.p1{
	margin-top:10px;
}
.m12 .b .br{
	display:inline;	
	margin-right:20px;
}
.m12 .b ul{
	width:240px;
}
.m12 .b li{
	list-style:inside;
	line-height:29px;
	border-bottom: 1px gray dashed;
}
.m12 .b .br li a{
	color:#333;
}
.m13{
	background:url(images514/m13.gif) repeat-x;
	border:1px solid #F90;
}
.m13 .h h2{
	margin:-10px 0 0 25px;
}
.m13 .b{
	margin-top:10px;
	margin-left:15px;
	padding-bottom:10px;
}
.m13 .b dt{
	text-align:center;
	line-height:30px;
}
.m13 .b dt a{
	color:#000;
}
.m13 .b ..c1{
	width:310px;
}
.m13 .b .c1 img.d1{
	padding-left:15px;
}
.m13 .b .c2{
	width:300px;
	padding-left:10px;
}
.m13 .b .c3{
	width:300px;
	padding-right:15px;
}
.m14{
	background:url(images514/m14.gif) no-repeat;
	width:474px;
	border:1px solid #F90;
}
.m14 .h h3{
	float:right;
	margin:-25px 15px 0 0;
	display:inline;
}
.m14 .b{
	margin-left:20px;
	margin-top:20px;
}
.m14 .b a.a1{
	padding-left:15px;
}
.m14 .b ul{
	margin-top:5px;
}
.m14 .b li{
	list-style:inside;
	width:200px;
	line-height:25px;
	border-bottom: 1px gray dashed;
}
.m14 a{
	color:#333;
}
.m14 .b .fl{
	width:217px;
	padding-bottom:15px;
}
.m14 .b .fr{
	width:217px;
	padding-bottom:15px;
}
.m15{
	width:474px;
	border:1px solid #F90;
}
.m15 .h h3{
	float:right;
	margin:-25px 15px 0 0;
	display:inline;
}
.m15 .b{
	margin-top:15px;
	margin-left:20px;
}
.m15 .b ul{
	width:430px;
	padding-bottom:6px;
}
.m15 .b ul.u1{
	border-bottom:1px gray dashed;
}
.m15 .b li{
	line-height:26px;
}
.m15 .b li a{
	color:#333;
}
.m15 .b li a.a1{
	padding-left:190px;
	color:#666;
}
.m16{
	background:url(images514/m16.gif) repeat-x;
	width:959px;
	border:1px solid #F90;
}
.m16 .h h2{
	margin:-10px 0 0 25px;
}
.m16 .h h3{
	float:right;
	margin:-30px 15px 0 0;
	display:inline;
}
.m16 .b{
	margin-left:12px;
	margin-top:20px;
	margin-bottom:10px;
}
.m16 .b .f{
	padding-left:8px;
}
.m16 .b dd{
	border:1px solid #CCC;
}
.m16 .b img{
	margin:1px;
}
.m16 .b dt{
	text-align:center;
	line-height:30px;
}
.m16 .b dt a{
	color:#000;
}
.m17{
	border:1px solid #F90;
	width:959px;
	background:url(images514/m16.gif) repeat-x:
}
.m17 .h h3{
	float:right;
	margin:-30px 15px 0 0;
	display:inline;
}
.m17 .b{
	margin:15px 0 15px 20px;
}
.m17 .b .c{
	width:230pxpx;
}
.m17 .b img{
	padding:2px;
	border:2px solid #CCC;
	margin:4px;
}