*{margin: 0; padding: 0; outline: none; font: 12px "宋体"; color: #000000; outline: none;}
img{outline: none; border: none;}
a{text-decoration: none;}
ul,li{margin: 0; padding: 0; list-style: none; }


.fl{float: left;}
.fr{float: right;}





















